.Skills {
  &_List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  &-Item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 768px) {
  .Skills {
    &_List {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
