.MyPasport {
  &-List {
    &_content_programmingLanguages {
      margin-bottom: 20px;
    }
  }

  &-Data {
    &List {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    &Item {

      border: 1px solid black !important;
      border-radius: 5px;
    }
  }

  // &-Item {
  //   &_content_programmingLanguages {
  //   }
  // }

}
